<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>  
    </ion-buttons>
    <ion-title style="text-align:center;">Orario</ion-title>
    <ion-buttons right>
      <button ion-button icon-only style="padding: 0 8px !important;" (click)="openAvatar()">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
    
  <ion-toolbar>
    <ion-segment [(ngModel)]="giorno">
      <ion-segment-button value="lunedì">
        LUN
      </ion-segment-button>
      <ion-segment-button value="martedì">
        MAR
      </ion-segment-button>
      <ion-segment-button value="mercoledì">
        MER
      </ion-segment-button>
      <ion-segment-button value="giovedì">
        GIO
      </ion-segment-button>
      <ion-segment-button value="venerdì">
        VEN
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
<div [ngSwitch]="giorno">
    <ion-list *ngSwitchCase="giorno">
      <ion-item>
       	<ion-grid align="center">
            
  		    <ion-row align="center">
                <ion-col col-4 style="font-weight: bold;">ORA</ion-col>
    		    <ion-col col-4 style="font-weight: bold;">MATERIA</ion-col>
    		    <ion-col col-4 style="font-weight: bold;">AULA</ion-col>
  		    </ion-row>
            <ion-row align="center" *ngFor="let o of orario">
                <ion-col *ngIf="o.giorno == giorno" col-4>{{o.oraInizio}} - {{o.oraFine}}</ion-col>
                <ion-col *ngIf="o.giorno == giorno" col-4>{{o.nomeMateria}}</ion-col>
                <ion-col *ngIf="o.giorno == giorno" col-4>{{o.aula.id}}</ion-col>
            </ion-row>

        </ion-grid>
       </ion-item>
     </ion-list>
    </div>
</ion-content>
