<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title style="text-align: center;">Dettagli Appello</ion-title>
        <ion-buttons right>
            <button ion-button icon-only style="padding: 0 8px !importan;" (click)="openAvatar()">
                <ion-icon name="person"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <p>Nome Materia: {{appello.nomeMateria}}</p>
                <p *ngIf="appello.docenti.length === 1">Docente: {{appello.docenti[0].nome}} {{appello.docenti[0].cognome}}</p>
				<p *ngIf="appello.docenti.length > 1" class="no-margin-bottom">Docenti:</p>
				<ion-item *ngIf="appello.docenti.length > 1" no-lines>
					<p *ngFor="let docente of appello.docenti">{{docente.nome}} {{docente.cognome}}</p>
				</ion-item>
                <p>Data: {{appello.data}}</p>
                <p>Tipologia: {{appello.tipologia}}</p>
                <p>Aula: {{appello.aula}}</p>
                <p>Data Scadenza: {{appello.scadenza}}</p>
				<p>Descrizione: {{appello.descrizione}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-card (click)="Navigate()">
        <ion-card-content>
            <p>Conferma</p>
        </ion-card-content>
    </ion-card>
</ion-content>

