<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title style="text-align: center;">Dettagli Appello</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <p>Nome Materia: {{info.materiaurl.nome}}</p>
                <p *ngIf="info.materiaurl['profurl'].length === 1">Docente: {{info.materiaurl['profurl'][0].nome}} {{info.materiaurl['profurl'][0].cognome}}</p>
				<p *ngIf="info.materiaurl['profurl'].length > 1" class="no-margin-bottom">Docenti:</p>
				<ion-item *ngIf="info.materiaurl['profurl'].length > 1" no-lines>
					<p *ngFor="let d of info.materiaurl['profurl']">{{d.nome}} {{d.cognome}}</p>
				</ion-item>
                <p>Data: {{info.data}}</p>
                <p>Aula: {{info.aulaurl.id}}</p>
                <p>Data Scadenza: {{info.data}}</p>
				<p>Descrizione: {{info.descrizione}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>
<!--
    <ion-card (click)="Navigate()">
        <ion-card-content>
            <p>Conferma</p>
        </ion-card-content>
    </ion-card>
-->
    <button ion-button full (click)="Navigate()">Conferma</button>
</ion-content>

